$backgroundColor: rgba(0, 0, 0, 0.89);
$bodyFont: 'Nunito', sans-serif;
$headingFont: 'Roboto', sans-serif;
$letterSpacing: 1px;
$culoareText: white;
$grey-500: #64748b;
$primary-500: #645cff;
$primary-700: #3c3799;
$borderRadius: 0.25rem;
$shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$transition: 0.3s ease-in-out all;
$max-width: 1120px;
$inaltimeLink: 310px;

$latime : 350px;
$inaltime : 438px;

.reteta{
    background: url('/imagini/poze-retete3.png');
    width: $latime;
    height: $inaltime;
}
@for $i from 0 through 1{
    @for $j from 0 through 1{
        .reteta-#{$i+1}-#{$j+1}{
            background-position: (-$j*$latime) (-$i*$inaltime);
        } 
    }   
}